
<div class="container m-5 contenedor-formulario">
  <div class="wrap">
    <h3>Visitas</h3>
    <form class="formulario">
      <div class="form-group">
        <label for="inputNombre">Nombre Completo</label>
        <input [(ngModel)]="newVisit.fullName" name="fullName" type="text" class="form-control" id="inputNombre" placeholder="Nombre y Apellidos">
      </div>
      <div class="form-group">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="email@email.com">
      </div>
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="inputStation">Estación</label>
          <select id="inputStation" class="form-control" id="selectStation" (change)="changeStation($event)">
            <option selected>...</option>
            <option *ngFor="let station of stations" value="">{{ station.address }}</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="inputAddress">Address</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="form-group col-md-3">
            <label for="inputTelefono">Teléfono</label>
            <input type="text" class="form-control" id="inputTelefono" placeholder="000-000-0000">
          </div>
      </div>
      <div class="form-row">
        <div class="form-group ui-calendar ui-g-12 ui-md-4">
          <label for="inputDate" id="labelFecha">Fecha</label>
          <!-- <ng-datepicker [(ngModel)]="inputDateSelected" name="fechaSeleccionada" position="top-right" [options]="options"></ng-datepicker> -->
          <div class="ui-g-12 ui-md-4 form-group">
              <p-calendar [(ngModel)]="inputDateSelected" [locale]="es" dateFormat="dd/mm/yy" name="Calendar" class="form-group Calendar"></p-calendar>
          </div>
        </div>
        <div class="form-group col-md-5">
          <label for="inputStation">Horarios</label>
          <select id="inputStation" class="form-control" >
            <option selected>...</option>
            <option *ngFor="let station of stations"></option>
          </select>
        </div>
      </div>
      <div class="form-row citaSeleccionada">
        <div class="form-group col-md-6">
          <label for="inputFechaSeleccionada">Fecha Seleccionada</label>
          <hr>
          <label id="inputFechaSeleccionada">{{ inputDateSelected | date:'MMM dd,yyyy' }}</label>
          <!-- <label id="inputFechaSeleccionada">{{ inputDateSelected }}</label> -->
        </div>

        <div class="form-group col-md-6">
          <label for="inputHoraSeleccionada">Hora Seleccionada</label>
          <input type="text" class="form-control" id="inputHoraSeleccionada">
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Agendar</button>
    </form>
    </div>
</div>

<div class="container">



